/* Write your CSS here */
.css-bg-container {
  display: flex;
  flex-direction: column;
}

.css-chrono-container {
  height: 75vh;
}

.css-bg-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
